.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 0;
  width: 430px;
}

.modal__close-button {
  display: flex;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  height: 40px;
  width: 40px;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  background-size: contain;
  border: none;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  color: #000;
  max-width: 330px;
  margin-top: 36px;
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 0 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
}

.modal__input {
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-color: #000;
  border-style: solid;
  margin-bottom: 30px;
}

.modal__input::placeholder {
  color: #000;
}

.modal__input:last-of-type {
  margin: 0;
}

.modal__save-button {
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 36px;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 619px) {
  .modal {
    padding: 0 19px;
  }

  .modal__container {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__heading {
    margin-top: 25px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }

  .modal__save-button {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0 19px;
  }
  .modal__container {
    width: 282px;
    padding: 22px 25px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }

  .modal__heading {
    margin-top: 0;
    margin-bottom: 75px;
    max-width: 238px;
    padding: 0;
  }

  .modal__form {
    padding: 0;
  }

  .modal__title {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .modal__description {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .modal__save-button {
    margin-top: 45px;
    margin-bottom: 0;
  }
}
